<div class="maxWidth">
  <div class="goBack">
    <a [routerLink]="['/start']" class="phoneNavButtonOverlay" style="font-size: 2rem;">
      <i class="fal fa-angle-left"></i>
    </a>
  </div>
</div>

<div class="border"></div>

<div class="maxWidth">
  <div class="header">Lernen</div>
  <div class="items">
    <div *ngFor="let item of settings" class="item">
      <div>{{item.text}}</div>
      <div class="slider" (click)="toggleSetting(item.id)" [ngClass]="item.value ? 'sliderIsActive' : ''"></div>
    </div>
  </div>
</div>

<!--<a [routerLink]="['/quiz']">quiz</a>-->
