@import "../../../colors";

.goBack {
  height: 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 $padding;
}

.border {
  border-top: 1px solid $border;
}

.header {
  color: #aaa;
  padding: $padding $padding 0 $padding;
}

.items {
  padding: calc(#{$padding} / 2) $padding;
  display: flex;
  flex-direction: column;
  gap: calc(#{$padding} / 2);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: calc(#{$padding} / 2);
}

.slider {
  width: 50px;
  min-width: 50px;
  height: 25px;
  background-color: $toggleDefault;
  border-radius: 100px;
  padding: 2px;
  position: relative;
  transition-property: background-color;
  transition-duration: 200ms;
  cursor: pointer;
}

.slider:after {
  content: '';
  height: 25px;
  width: 25px;
  background-color: $bgc;
  border-radius: 100px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition-property: transform;
  transition-duration: 200ms;
}

.sliderIsActive {
  background-color: $toggleBlue;
}

.sliderIsActive.slider:after {
  transform: translateX(25px);
}
