@import "../../../colors";

.headerPosition {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $border;
  background-color: $bgc;
}

.headerBox {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  height: 70px;
  padding: 0 $padding;
  box-sizing: border-box;
  .start {
    justify-self: start;
    font-size: 2rem;
  }
  .center {
    justify-self: center;
    border-radius: 100px;
    width: 20px;
    height: 20px;
  }
  .end {
    justify-self: end;
  }
}

.neu {
  background-color: $tagColor;
}

.unsicher {
  background-color: $cRed;
}

.gut {
  background-color: $cYellow;
}

.perfekt {
  background-color: $cDarkGreen;
}
