<div class="headerPosition">
  <div class="headerBox">
    <a [routerLink]="['/start']" class="start phoneNavButtonOverlay">
      <i class="fal fa-angle-left"></i>
    </a>
    <div *ngIf="!hideCategory" class="center"
         [ngClass]="{
         'perfekt':category === 'perfekt',
         'gut':category === 'gut',
         'unsicher':category === 'unsicher',
         'neu':category === 'neu'}">
    </div>
    <div *ngIf="hideCategory" class="center hidesCategory"></div>
    <div class="end">
      #{{id}}
    </div>
  </div>
</div>
