<div class="headerPosition">
  <div class="headerBox">
    <a *ngIf="showBackbutton" [routerLink]="['/start']" class="start phoneNavButtonOverlay">
      <i class="fal fa-angle-left"></i>
    </a>
    <div *ngIf="!showBackbutton"></div>
    <div *ngIf="showCategory" class="center"
         [ngClass]="{
         'perfekt':category === 'perfekt',
         'gut':category === 'gut',
         'unsicher':category === 'unsicher',
         'neu':category === 'neu'}">
    </div>
    <div *ngIf="!showCategory"></div>
    <div class="end">
      <ng-container *ngIf="showId">
        #{{id}}
      </ng-container>
    </div>
  </div>
</div>
