@import "../../../colors";

.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow: auto;
}

.child {
  min-width: 100vw;
  scroll-snap-align: start;
}

.child:nth-child(odd) {
  background-color: #f2f2f2;
}

.noCards {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    display: block;
    background-color: $button-bgc;
    border-radius: $borderRadius;
    padding: calc(#{$padding} / 2);
    margin-bottom: calc(#{$padding} / 2);
  }
}
