<!--Verschiedene Ansichten machen damit man eine Animation hinzufügen kann ohne probleme mit einem Infinity loop zu bekommen-->


<div *ngIf="cardBool" class="question">

  <div class="headerBox">
    <a [routerLink]="['/start']" class="start phoneNavButtonOverlay">
      <i class="fal fa-angle-left"></i>
    </a>
    <div class="center">{{cards[cardIndex].category}}</div>
    <div class="end">
      #{{cards[cardIndex].id}}
    </div>
  </div>

  <div class="questionBox">
    <div class="header">
      Frage:
    </div>
    <div class="text">
      {{cards[cardIndex].question}}
    </div>
  </div>

  <div class="commentBox">
    comment
  </div>

  <div class="next">
    <button (click)="cardBool = false">
<!--      <i class="fal fa-arrow-right"></i>-->
      <i class="fal fa-long-arrow-right"></i>
    </button>
  </div>
</div>




<div *ngIf="!cardBool" class="answer">

  <div class="headerBox">
    <a [routerLink]="['/start']" class="start phoneNavButtonOverlay">
      <i class="fal fa-angle-left"></i>
    </a>
    <div class="center">{{cards[cardIndex].category}}</div>
    <div class="end">
      #{{cards[cardIndex].id}}
    </div>
  </div>

  <div class="commentBox">
    comment
  </div>

  <div class="bottom">
    {{cards[cardIndex].answer}}
  </div>

  <div class="next">
    <button *ngIf="cardIndex < cards.length-1" (click)="nextCard()">
      <i class="fal fa-long-arrow-right"></i>
    </button>
    <button *ngIf="cardIndex === cards.length-1" (click)="redo()">
      <i class="fal fa-undo"></i>
    </button>
  </div>

</div>
