@import "../../../colors";

.headerBox {
  border-bottom: 1px solid $border;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  .start {
    justify-self: start;
  }
  .center {
    justify-self: center;
  }
  .end {
    justify-self: end;
  }
}

.questionBox {
  padding: 2rem;
  .header {
    //padding: 1rem;
  }
  .text {
    padding: 1rem;
    background-color: $button-bgc;
    border-radius: $borderRadius;
    margin-top: 1rem;
  }
}

.commentBox {

}

.button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  button {
    width: 100px;
    height: 100px;
    border: none;
    background-color: $button-bgc;
    //border-top-left-radius: $borderRadius;
    border-radius: $borderRadius;
    font-size: 2.6rem;
  }
}


//border-bottom: 1px dashed $border;
