$link: black;
$text: black;
$h1: black;
$h2: black;
$bgc: white;
$border: #ddd;
$button-bgc: #f2f2f2;
$tagColor: #696969;
$toggleBlue: #6495ED;
$toggleDefault: #e0e0e0;

$borderRadius: 5px;
$padding: 2rem;



$cDarkBlue: #102542;
$cGray: #E8E8E8;
$cRed: #9C3848;
$cGreen: #2F9C95;
$cDarkGreen: #136F63;
$cBlue: #2081C3;
$cNewBlue: #006ba6;
$cPurple: #6874E8;
$cOrange: #F39C6B;
$cYellow: #FFCF56;







/*
 #102542
 #E8E8E8
 #9C3848
 #2F9C95
 #3772FF

6874E8


 */
